name: Create Branch

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: "Task-1"
        required: true
        default: "new-branch"

jobs:
  create-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create and push branch
        run: |
          git checkout -b ${{ github.event.inputs.branch_name }}
          git push origin ${{ github.event.inputs.branch_name }}
