name: Trigger on JIRA Issue Create
'on':
  repository_dispatch:
    types:
      - jira_issue_created
jobs:
  handle-jira:
    runs-on: ubuntu-latest
    steps:
      - name: Print JIRA payload
        run: |
          echo "Issue Key: ${{ github.event.client_payload.issue_key }}"
          echo "Summary: ${{ github.event.client_payload.summary }}"
          echo "Reporter: ${{ github.event.client_payload.reporter }}"
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create and push branch
        run: |
          git checkout -b ${{ github.event.client_payload.issue_key }}
          git push origin ${{ github.event.client_payload.issue_key }}
